In [1]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import scipy.stats as st
import numpy as np
import random
import matplotlib.pyplot as plt
from pathlib import Path
from sklearn.linear_model import LinearRegression

In [2]:
# first data... master.csv 
# https://www.kaggle.com/datasets/russellyates88/suicide-rates-overview-1985-to-2016

In [3]:
# Load the dataset into a DataFrame
df = pd.read_csv('master.csv')
df.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

In [4]:
# Filter the DataFrame to include only rows where the country is USA
data = df[df['country'] == 'USA']
data

Empty DataFrame
Columns: [country, year, sex, age, suicides_no, population, suicides/100k pop, country-year, HDI for year,  gdp_for_year ($) , gdp_per_capita ($), generation]
Index: []

In [5]:
print(df['country'].unique())

['Albania' 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Aruba' 'Australia'
 'Austria' 'Azerbaijan' 'Bahamas' 'Bahrain' 'Barbados' 'Belarus' 'Belgium'
 'Belize' 'Bosnia and Herzegovina' 'Brazil' 'Bulgaria' 'Cabo Verde'
 'Canada' 'Chile' 'Colombia' 'Costa Rica' 'Croatia' 'Cuba' 'Cyprus'
 'Czech Republic' 'Denmark' 'Dominica' 'Ecuador' 'El Salvador' 'Estonia'
 'Fiji' 'Finland' 'France' 'Georgia' 'Germany' 'Greece' 'Grenada'
 'Guatemala' 'Guyana' 'Hungary' 'Iceland' 'Ireland' 'Israel' 'Italy'
 'Jamaica' 'Japan' 'Kazakhstan' 'Kiribati' 'Kuwait' 'Kyrgyzstan' 'Latvia'
 'Lithuania' 'Luxembourg' 'Macau' 'Maldives' 'Malta' 'Mauritius' 'Mexico'
 'Mongolia' 'Montenegro' 'Netherlands' 'New Zealand' 'Nicaragua' 'Norway'
 'Oman' 'Panama' 'Paraguay' 'Philippines' 'Poland' 'Portugal'
 'Puerto Rico' 'Qatar' 'Republic of Korea' 'Romania' 'Russian Federation'
 'Saint Kitts and Nevis' 'Saint Lucia' 'Saint Vincent and Grenadines'
 'San Marino' 'Serbia' 'Seychelles' 'Singapore' 'Slovakia' 'Slovenia'
 'South Africa' 'Spain' 'Sri Lanka' 'Suriname' 'Sweden' 'Switzerland'
 'Thailand' 'Trinidad and Tobago' 'Turkey' 'Turkmenistan' 'Ukraine'
 'United Arab Emirates' 'United Kingdom' 'United States' 'Uruguay'
 'Uzbekistan']

In [6]:
# Filter the DataFrame to include only rows where the country is USA or 'United States'
usa_data = df[df['country'].isin(['USA', 'United States'])]
usa_data.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
26848,United States,1985,male,75+ years,2177,4064000,53.57,United States1985,0.841,"4,346,734,000,000",19693,G.I. Generation
26849,United States,1985,male,55-74 years,5302,17971000,29.50,United States1985,0.841,"4,346,734,000,000",19693,G.I. Generation
26850,United States,1985,male,25-34 years,5134,20986000,24.46,United States1985,0.841,"4,346,734,000,000",19693,Boomers
26851,United States,1985,male,35-54 years,6053,26589000,22.77,United States1985,0.841,"4,346,734,000,000",19693,Silent
26852,United States,1985,male,15-24 years,4267,19962000,21.38,United States1985,0.841,"4,346,734,000,000",19693,Generation X

In [7]:
# Drop 'gdp_for_year ($)' and 'gdp_per_capita ($)' columns
columns_to_drop = [' gdp_for_year ($) ', ' gdp_per_capita ($)']
clean_data= usa_data.drop(columns=columns_to_drop, errors='ignore')
clean_data.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_per_capita ($),generation
26848,United States,1985,male,75+ years,2177,4064000,53.57,United States1985,0.841,19693,G.I. Generation
26849,United States,1985,male,55-74 years,5302,17971000,29.50,United States1985,0.841,19693,G.I. Generation
26850,United States,1985,male,25-34 years,5134,20986000,24.46,United States1985,0.841,19693,Boomers
26851,United States,1985,male,35-54 years,6053,26589000,22.77,United States1985,0.841,19693,Silent
26852,United States,1985,male,15-24 years,4267,19962000,21.38,United States1985,0.841,19693,Generation X

In [8]:
# second data....drugoverdose.csv
# https://catalog.data.gov/dataset/unintentional-drug-overdose-death-rate-by-race-ethnicity/resource/44ea7356-5175-4574-a668-3bca76c192c3

In [9]:
#using the file drugoverdose.csv
drug_overdose = pd.read_csv("drugoverdose.csv")
drug_overdose.head()

,race_ethnicity,year,overdose_death_rate,overdose_death_count,population_size,data_as_of,data_loaded_at
0,All races,2022,78.5,635,808437,2023/09/11 05:49:34 PM,2023/09/14 12:22:53 PM
1,"Asian/Pacific Islander, Non-Hispanic/Latinx",2022,10.5,35,332462,2023/09/11 05:49:34 PM,2023/09/14 12:22:53 PM
2,"Black/African American, Non-Hispanic/Latinx",2022,399.7,166,41531,2023/09/11 05:49:34 PM,2023/09/14 12:22:53 PM
3,Hispanic/Latinx,2022,96.8,124,128162,2023/09/11 05:49:34 PM,2023/09/14 12:22:53 PM
4,"White, Non-Hispanic/Latinx",2022,84.6,259,306282,2023/09/11 05:49:34 PM,2023/09/14 12:22:53 PM

In [10]:
# Drop the specified columns
cleaned_drug_data = drug_overdose.drop(columns=["data_as_of", "data_loaded_at"])
cleaned_drug_data.head()

,race_ethnicity,year,overdose_death_rate,overdose_death_count,population_size
0,All races,2022,78.5,635,808437
1,"Asian/Pacific Islander, Non-Hispanic/Latinx",2022,10.5,35,332462
2,"Black/African American, Non-Hispanic/Latinx",2022,399.7,166,41531
3,Hispanic/Latinx,2022,96.8,124,128162
4,"White, Non-Hispanic/Latinx",2022,84.6,259,306282

In [11]:
# Third data......suicideattempt.csv
# https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3539603/

In [12]:
#Read the file suicideattempt.csv
suicide_data = Path("Project-one/suicideattempt.csv")
suicide_data

WindowsPath('Project-one/suicideattempt.csv')