In [1]:
import pandas as pd
import os

In [2]:
# Load the dataset into a DataFrame
df = pd.read_csv('master.csv')

In [3]:
# Filter the DataFrame to include only rows where the country is USA
data = df[df['country'] == 'USA']
data.head()

Empty DataFrame
Columns: [country, year, sex, age, suicides_no, population, suicides/100k pop, country-year, HDI for year,  gdp_for_year ($) , gdp_per_capita ($), generation]
Index: []

In [4]:
# Print unique values in the 'country' column
print(df['country'].unique())

['Albania' 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Aruba' 'Australia'
 'Austria' 'Azerbaijan' 'Bahamas' 'Bahrain' 'Barbados' 'Belarus' 'Belgium'
 'Belize' 'Bosnia and Herzegovina' 'Brazil' 'Bulgaria' 'Cabo Verde'
 'Canada' 'Chile' 'Colombia' 'Costa Rica' 'Croatia' 'Cuba' 'Cyprus'
 'Czech Republic' 'Denmark' 'Dominica' 'Ecuador' 'El Salvador' 'Estonia'
 'Fiji' 'Finland' 'France' 'Georgia' 'Germany' 'Greece' 'Grenada'
 'Guatemala' 'Guyana' 'Hungary' 'Iceland' 'Ireland' 'Israel' 'Italy'
 'Jamaica' 'Japan' 'Kazakhstan' 'Kiribati' 'Kuwait' 'Kyrgyzstan' 'Latvia'
 'Lithuania' 'Luxembourg' 'Macau' 'Maldives' 'Malta' 'Mauritius' 'Mexico'
 'Mongolia' 'Montenegro' 'Netherlands' 'New Zealand' 'Nicaragua' 'Norway'
 'Oman' 'Panama' 'Paraguay' 'Philippines' 'Poland' 'Portugal'
 'Puerto Rico' 'Qatar' 'Republic of Korea' 'Romania' 'Russian Federation'
 'Saint Kitts and Nevis' 'Saint Lucia' 'Saint Vincent and Grenadines'
 'San Marino' 'Serbia' 'Seychelles' 'Singapore' 'Slovakia' 'Slovenia'
 'South Africa' 'Spain' 'Sri Lanka' 'Suriname' 'Sweden' 'Switzerland'
 'Thailand' 'Trinidad and Tobago' 'Turkey' 'Turkmenistan' 'Ukraine'
 'United Arab Emirates' 'United Kingdom' 'United States' 'Uruguay'
 'Uzbekistan']

In [5]:
# Filter the DataFrame to include only rows where the country is USA or 'United States'
usa_data = df[df['country'].isin(['USA', 'United States'])]
usa_data.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
26848,United States,1985,male,75+ years,2177,4064000,53.57,United States1985,0.841,"4,346,734,000,000",19693,G.I. Generation
26849,United States,1985,male,55-74 years,5302,17971000,29.50,United States1985,0.841,"4,346,734,000,000",19693,G.I. Generation
26850,United States,1985,male,25-34 years,5134,20986000,24.46,United States1985,0.841,"4,346,734,000,000",19693,Boomers
26851,United States,1985,male,35-54 years,6053,26589000,22.77,United States1985,0.841,"4,346,734,000,000",19693,Silent
26852,United States,1985,male,15-24 years,4267,19962000,21.38,United States1985,0.841,"4,346,734,000,000",19693,Generation X

In [6]:
# Drop 'gdp_for_year ($)' and 'gdp_per_capita ($)' columns
columns_to_drop = [' gdp_for_year ($) ', ' gdp_per_capita ($)']
clean_data= usa_data.drop(columns=columns_to_drop, errors='ignore')
clean_data.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_per_capita ($),generation
26848,United States,1985,male,75+ years,2177,4064000,53.57,United States1985,0.841,19693,G.I. Generation
26849,United States,1985,male,55-74 years,5302,17971000,29.50,United States1985,0.841,19693,G.I. Generation
26850,United States,1985,male,25-34 years,5134,20986000,24.46,United States1985,0.841,19693,Boomers
26851,United States,1985,male,35-54 years,6053,26589000,22.77,United States1985,0.841,19693,Silent
26852,United States,1985,male,15-24 years,4267,19962000,21.38,United States1985,0.841,19693,Generation X

In [7]:
# Filter the DataFrame to include only rows where the country is USA or 'United States' and the sex is 'male'
usa_male_data = clean_data[(clean_data['country'].isin(['USA', 'United States'])) & (clean_data['sex'] == 'male')]
usa_male_data.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_per_capita ($),generation
26848,United States,1985,male,75+ years,2177,4064000,53.57,United States1985,0.841,19693,G.I. Generation
26849,United States,1985,male,55-74 years,5302,17971000,29.50,United States1985,0.841,19693,G.I. Generation
26850,United States,1985,male,25-34 years,5134,20986000,24.46,United States1985,0.841,19693,Boomers
26851,United States,1985,male,35-54 years,6053,26589000,22.77,United States1985,0.841,19693,Silent
26852,United States,1985,male,15-24 years,4267,19962000,21.38,United States1985,0.841,19693,Generation X

In [8]:
# Filter the DataFrame to include only rows where the country is USA or 'United States' and the sex is 'female'
usa_female_data = clean_data[(clean_data['country'].isin(['USA', 'United States'])) & (clean_data['sex'] == 'female')]
usa_female_data.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_per_capita ($),generation
26853,United States,1985,female,35-54 years,2105,27763000,7.58,United States1985,0.841,19693,Silent
26854,United States,1985,female,55-74 years,1568,21366000,7.34,United States1985,0.841,19693,G.I. Generation
26855,United States,1985,female,75+ years,466,7469000,6.24,United States1985,0.841,19693,G.I. Generation
26856,United States,1985,female,25-34 years,1242,21041000,5.90,United States1985,0.841,19693,Boomers
26857,United States,1985,female,15-24 years,854,19589000,4.36,United States1985,0.841,19693,Generation X

In [10]:
drug_overdose = pd.read_csv("drugoverdose.csv")
drug_overdose

,race_ethnicity,year,overdose_death_rate,overdose_death_count,population_size,data_as_of,data_loaded_at
0,All races,2022,78.5,635,808437,2023/09/11 05:49:34 PM,2023/09/14 12:22:53 PM
1,"Asian/Pacific Islander, Non-Hispanic/Latinx",2022,10.5,35,332462,2023/09/11 05:49:34 PM,2023/09/14 12:22:53 PM
2,"Black/African American, Non-Hispanic/Latinx",2022,399.7,166,41531,2023/09/11 05:49:34 PM,2023/09/14 12:22:53 PM
3,Hispanic/Latinx,2022,96.8,124,128162,2023/09/11 05:49:34 PM,2023/09/14 12:22:53 PM
4,"White, Non-Hispanic/Latinx",2022,84.6,259,306282,2023/09/11 05:49:34 PM,2023/09/14 12:22:53 PM
5,All races,2021,76.4,623,815201,2023/09/11 05:49:34 PM,2023/09/14 12:22:53 PM
6,"Asian/Pacific Islander, Non-Hispanic/Latinx",2021,7.8,26,334298,2023/09/11 05:49:34 PM,2023/09/14 12:22:53 PM
7,"Black/African American, Non-Hispanic/Latinx",2021,430.4,179,41592,2023/09/11 05:49:34 PM,2023/09/14 12:22:53 PM
8,Hispanic/Latinx,2021,78.9,101,128030,2023/09/11 05:49:34 PM,2023/09/14 12:22:53 PM
9,"White, Non-Hispanic/Latinx",2021,83.5,260,311281,2023/09/11 05:49:34 PM,2023/09/14 12:22:53 PM
10,All races,2020,80.5,698,866606,2023/09/11 05:49:34 PM,2023/09/14 12:22:53 PM
11,"Asian/Pacific Islander, Non-Hispanic/Latinx",2020,16.9,59,348398,2023/09/11 05:49:34 PM,2023/09/14 12:22:53 PM
12,"Black/African American, Non-Hispanic/Latinx",2020,387.1,168,43404,2023/09/11 05:49:34 PM,2023/09/14 12:22:53 PM
13,Hispanic/Latinx,2020,113.7,150,131965,2023/09/11 05:49:34 PM,2023/09/14 12:22:53 PM
14,"White, Non-Hispanic/Latinx",2020,81.4,279,342839,2023/09/11 05:49:34 PM,2023/09/14 12:22:53 PM

In [11]:
# Drop the specified columns
cleaned_drug_data = drug_overdose.drop(columns=["data_as_of", "data_loaded_at"])
cleaned_drug_data

,race_ethnicity,year,overdose_death_rate,overdose_death_count,population_size
0,All races,2022,78.5,635,808437
1,"Asian/Pacific Islander, Non-Hispanic/Latinx",2022,10.5,35,332462
2,"Black/African American, Non-Hispanic/Latinx",2022,399.7,166,41531
3,Hispanic/Latinx,2022,96.8,124,128162
4,"White, Non-Hispanic/Latinx",2022,84.6,259,306282
5,All races,2021,76.4,623,815201
6,"Asian/Pacific Islander, Non-Hispanic/Latinx",2021,7.8,26,334298
7,"Black/African American, Non-Hispanic/Latinx",2021,430.4,179,41592
8,Hispanic/Latinx,2021,78.9,101,128030
9,"White, Non-Hispanic/Latinx",2021,83.5,260,311281
10,All races,2020,80.5,698,866606
11,"Asian/Pacific Islander, Non-Hispanic/Latinx",2020,16.9,59,348398
12,"Black/African American, Non-Hispanic/Latinx",2020,387.1,168,43404
13,Hispanic/Latinx,2020,113.7,150,131965
14,"White, Non-Hispanic/Latinx",2020,81.4,279,342839